*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body{
    
    background-color: rgb(34, 32, 32);
    
}

.menu{
     
    font-size: 35px;
    display: none;
    cursor: pointer;

}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: transparent;
    padding: 30px ;

}
header h2{
    font-size: 60px;
    margin-left: 80px;
}
header ul{
    display: flex;
    list-style: none;
    font-size: 25px;
    color: #fff;
    margin-right: 50px;
    text-transform: capitalize;
    
}
header li{
    margin-left: 28px;
}

header ul :hover{
    transform: scale(1.1, 1.2);
    cursor: pointer;
}

header.sticky{
    background-color: rgb(245, 237, 237);
    color: #080808;
    padding: 1px 10px;
    font-size: 8px;
    box-shadow: 2px 2px 5px gainsboro;
    transition: 0.5s;
}

.sticky h2{
    font-size: 50px;
}

.sticky ul{
    
    color: #080808;
    font-size: 27px;

}



/* Home */

section {
    align-items: center;
    display: flex;
    background-size: cover;
    padding: 80px;
    flex-wrap: wrap;
}

.home{
    color: #fff;
    background-image: url(img/cover2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.home-contant{
    font-size: 52px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;    
    justify-content: center;

    align-items: center;    
    
}

.home-contant p{
    font-size: 25px; 
    margin-top: 10px;
}

.home-btn{
    font-size: 20px;
    padding: 10px;
    background-color: rgb(249, 246, 246);
    text-decoration: none;
    color: #080808;
    border-radius: 5px;
    margin-top: 50px;
}



/* card of country */


.title {
    align-items: center;
    color: #fff;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    margin: 70px;
}

img{
    height: 230px;
    width: 350px;
}

.container{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    
    border-radius: 10px;
    background-color: rgb(241, 234, 224);
    overflow: hidden;
    height: 410px;
    width: 350px;
    margin: 10px;
    margin-left: 30px;
    justify-content: center;
}



.content{
    font-size: large;
    padding: 20px;
}

h3{
    font-size: 30px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
    font-size: 20px;

}

.btn{
    padding: 6px;
    background-color: rgb(94, 89, 89);
    color: #fff;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    
}


/* about */

.about-container{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 20px;
    align-items: center;
}

.box img{
    height: 100px;
    width: 100px;
    color: #fff;
    
}

.box a :hover{
    transform: scale(1.1,1.1);
}

.box{
    height: 220px;
    width: 190px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    box-shadow: 2px 2px 8px whitesmoke,-2px -2px 8px whitesmoke;
}

.box p{
    font-weight: 500;
    margin-top: 20px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    color: aliceblue;
    margin-top: 30px;
}


/* footer */
footer{
    padding: 20px;
    background-color: #eeecec;
    margin-top: 40px;
    height: 400px;
}

footer h2 img{
    height: 50px;
    width: 50px;
    justify-content: center;
    
}

footer h2{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    font-size: 35px;
}

.main
{
    display: flex;
    
    justify-content: center;
    font-size: 20px;
}

.list h4{
    font-size: 21px;
    text-decoration: underline black;
    padding: 5px;
    

}

.list
{
    justify-content: space-between;
    margin-left: 60px;
    color: #080808;
    list-style: none;
    
}

.list ul{
    
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.list ul li{   
    margin-bottom: 7px;
    color: #44559d; 
}

.list li a{
    text-decoration: none;
    list-style: none;
    color: #44559d;
}


footer p{
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 35px;
    background-color: rgb(128, 125, 122);
    color: white;
    font-size: 17px;
}

.list .connect a {
    font-size: 30px;
    color: #414040;
    margin-left: 5px;
}

.list .connect{
    margin-top: 15px;
}

